body {
	height: 100vh; margin: 0;
}

.main-container {
	position: relative;
	background: #F5FCFF;
}

.clouds {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(img/cloud.png);
	background-size: auto 200px;
	background-position-y: 50px;
	background-repeat: repeat-x;
	z-index: 2;
}

.sun {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(img/sun.png);
	background-repeat: no-repeat;
	background-position: top right;
	z-index: 1;
}

.deer {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(img/deer.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 500px;
	z-index: 1;
}

.grass {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(img/grass.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: auto 150px;
	z-index: 3;
}
